database_type: mysql
database_username: @@TENANT_USERNAME@@
database_password: @@TENANT_PASSWORD@@
database_host: localhost
database_port: 3306
database_name: @@DATABASE_NAME@@
database_migration_dir: @@DATABASE_MIGRATION_DIR@@
database_table: pyway